certifi==2019.11.28
chardet==3.0.4
Desktopmagic==14.3.11
rapidfuzz==0.2.0
idna==2.9
keyboard==0.13.4
numpy==1.21.0
# Need contrib instead of main module for additional features.
opencv-contrib-python==4.2.0.32
Pillow==9.0.0
PyQt5==5.14.1
PyQt5-sip==12.7.1
pytesseract==0.3.3
# Providers win32gui which we can't get otherwise
pywin32==301
requests==2.23.0
urllib3==1.26.5
PyInstaller==3.6